# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Executable
arma3-unix-launcher

#Eclipse project files
.settings/*
.cproject
.project
/MainForm.glade~
/#MainForm.glade#

#build dir
build/*
